#outer-container {
    display: flex;
    flex-direction: row-reverse;
}

#add-names {
    width: 30%;
    height: 93vh;
    margin-top: -.77%;
}

.previews-container {
    display: flex;
    justify-content: center;
}
#add-btn {
    margin-right: 20%;
    background-color: #E31837;
    color: white;
    box-shadow: 2px 2px 7px #888888;
}
#add-btn:hover {
    background-color: black;
}


#delete-btn {
    color: #E31837;
    border: 0px;
    margin-left: 155px;
    cursor: pointer;
    display: none;
    padding-bottom: 20px;
}


.receipt-container {
    border-style: solid;
    border-color: whitesmoke;
    width: 200px;
    background-color: whitesmoke;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 20px;
    box-shadow: 2px 2px 7px #888888;
    height: 100%;
    margin-right: 20%;
}

.receipt-container:hover #delete-btn {
    display: block;
}

.receipt-container:hover {
    padding-top: 0px;
    background-color: white;
    border-color: white;
}  