.previews-container {
    display: flex;
    justify-content: center;
}
#buttonStyle {
    margin-right: 1%;
    background-color: #E31837;
    color: white;
    box-shadow: 2px 2px 7px #888888;
}

.delete-btn {
    color: red;
    background-color: whitesmoke;
    border: none;
    margin-left: 150px;
}
.receipt-container {
    border-style: solid;
    border-color: whitesmoke;
    width: 200px;
    background-color: whitesmoke;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 20px;
    box-shadow: 2px 2px 7px #888888
}